resources/php/TicketService.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions targetNamespace="urn:TicketService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:TicketService"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ticket="urn:TicketServiceSchema"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:TicketService">
            <import namespace="urn:TicketServiceSchema" schemaLocation="./TicketService.xsd"/>
        </schema>
    </types>
    <message name="RefundRequest">
        <part name="payload" type="ticket:RefundRequest"/>
    </message>
    <message name="RefundXMLResponse">
        <part name="payload" type="ticket:RefundXMLResponse"/>
    </message>
    <message name="TransInfoRequest">
        <part name="payload" type="ticket:TransInfoRequest"/>
    </message>
    <message name="TransInfoResponse">
        <part name="payload" type="ticket:TransInfoResponse"/>
    </message>
    <message name="TransInfoXMLResponse">
        <part name="payload" type="ticket:TransInfoXMLResponse"/>
    </message>
    <portType name="getInfo">
        <operation name="getTransInfo">
            <input message="tns:TransInfoRequest"/>
            <output message="tns:TransInfoResponse"/>
        </operation>
        <operation name="getTransInfoXML">
            <input message="tns:TransInfoRequest"/>
            <output message="tns:TransInfoXMLResponse"/>
        </operation>
        <operation name="requestRefund">
            <input message="tns:RefundRequest"/>
            <output message="tns:RefundXMLResponse"/>
        </operation>
        <operation name="searchTicket">
            <input message="tns:SearchTicketRequest"/>
            <output message="tns:SearchTicketResponse"/>
        </operation>
        <operation name="saleRequest">
            <input message="tns:SaleRequest"/>
            <output message="tns:SaleResponse"/>
        </operation>
    </portType>
    <binding name="getInfoSOAP12Binding" type="tns:getInfo">
        <soap12:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getTransInfo">
            <soap12:operation style="rpc" soapAction="urn:TicketService/getTransInfo"/>
            <input>
                <soap12:body use="literal" namespace="urn:TicketService" parts="payload"
                             encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap12:body use="literal" namespace="urn:TicketService" parts="payload"
                             encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="getTransInfoXML">
            <soap12:operation soapAction="urn:TicketService/getTransInfo" style="rpc"/>
            <input>
                <soap12:body parts="payload" namespace="urn:TicketService"
                             encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
            </input>
            <output>
                <soap12:body use="literal" parts="payload" namespace="urn:TicketService"
                             encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="requestRefund">
            <input>
                <soap12:body parts="payload" namespace="urn:TicketService"
                             encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
            </input>
            <output>
                <soap12:body parts="payload" namespace="urn:TicketService"
                             encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
            </output>
        </operation>
        <operation name="searchTicket">
            <input>
                <soap12:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                             namespace="urn:TicketService" parts="payload"/>
            </input>
            <output>
                <soap12:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                             namespace="urn:TicketService" parts="payload"/>
            </output>
        </operation>
        <operation name="saleRequest">
            <input>
                <soap12:body parts="payload"
                             encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:TicketService"
                             use="literal"/>
            </input>
            <output>
                <soap12:body namespace="urn:TicketService" parts="payload"
                             encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="TicketService">
        <port name="portTicketService" binding="tns:getInfoSOAP12Binding">
            <soap:address location="http://localhost/WebService/server1.php"/>
            <soap12:address location="http://localhost/WebService/server1.php"/>
        </port>
    </service>
    <message name="SearchTicketRequest">
        <part name="payload" type="ticket:SearchTicketRequest"/>
    </message>
    <message name="SearchTicketResponse">
        <part name="payload" type="ticket:SearchTicketResponse"/>
    </message>
    <message name="SaleRequest">
        <part name="payload" type="ticket:SaleRequest"/>
    </message>
    <message name="SaleResponse">
        <part name="payload" type="ticket:TransInfoXMLResponse"/>
    </message>
</definitions>
